<h2 id="title">Photoswipe Examples</h2>

<!-- example 1 -->
<button class="btn" {{action 'initGallery'}}>Open PhotoSwipe</button>

{{photo-swipe gallery=myGallery options=psOpts content=items}}

<br>

<!-- example 2 -->
<h3>Example when passing a block</h3>

{{#photo-swipe options=psTwoOpts as |gallery|}}
  {{#each model as |img index|}}
    {{#photoswipe-item src=img.href title=img.alt gallery=gallery number=index action='toggleImage'}}
      <img class="thumb" src={{img.href}} alt={{img.alt}}>
    {{/photoswipe-item}}
  {{/each}}
{{/photo-swipe}}
